<%= render "shared/header" %>
<div class="contents main">
  <%= link_to '投稿する', new_tweet_path, class: "submit-btn" %>
</div>
<div class=contents_box>
  <div class="contents row">
    <% @tweets.each do |tweet| %>
     <p>【<%= tweet.title %>】</p>
    <%= render partial: "tweet", locals: { tweet: tweet } %>  
    <% end %>
  </div>
</div>


<%#<div class="buttons_<%= @tweet.id "><%= render partial: 'tweets/like' </div>%>
<%= render "shared/footer" %>