<%= render "shared/header" %>
<%= link_to '投稿する', new_tweet_path, class: "submit-btn" %>
<div class="contents row">
  <% @tweets.each do |tweet| %>   
    <%= render partial: "tweet", locals: { tweet: tweet } %>
    
  <% end %>
</div>


<%#<div class="buttons_<%= @tweet.id "><%= render partial: 'tweets/like' </div>%>
<%= render "shared/footer" %>