<%= render "shared/header" %>
<div class=contents_box>
  <div class="contents row">
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @tweets.each do |tweet| %>
    <p>【<%= tweet.title %>】</p>
      <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>