<%= render "shared/header" %>
<%= form_with(model: @contact, url: contacts_path, local: true) do |form| %>
<div class=contents_box>
  <div class="contact">
    <div class="contact_form">
      <h1>お問い合わせ</h1>
        <p class=subcomment>Oliveサポートデスクに相談してあなたに合ったフォトグラファー/プランを提案してもらおう</p>
        <div class="field">
          <%= form.label :country, "撮影場所" %>
          <%= form.text_field :country, class: "contact_box"%>
        </div>
        <div class="field">
          <%= form.label :fullname, "お申込者様のお名前" %>
          <%= form.text_field :fullname, class: "contact_box" %>
        </div>
        <div class="field">
          <%= form.label :fullname_kana, "お名前（全角カタカナ）" %>
          <%= form.text_field :fullname_kana, class: "contact_box" %>
        </div>
        <div class="field">
          <%= form.label :mail, "メールアドレス" %>
          <%= form.email_field :mail, class: "contact_box" %>
        </div>
        <div class="field">
          <%= form.label :tel, "電話番号（半角ハイフンなし）" %>
          <%= form.text_field :tel, class: "contact_box" %>
        </div>
        <div class="field">
          <%= form.label :buget, "ご予算" %>
          <%= form.number_field :buget, class: "contact_box" %>
        </div>

      <h2>撮影日時</h2>   
        <div class="field">
          <%= form.label :shooting_start_at_date, "ご希望撮影開始日時" %>
          <%= form.datetime_field :shooting_start_at_date, class: "contact_box" %>
        </div>
        <div class="field">
          <%= form.label :shooting_time_duration, "ご希望撮影時間" %>
          <%= form.number_field :shooting_time_duration, class: "contact_box" %>
        </div>
   
      <h2>その他</h2>
        <div class="field">
          <%= form.label :comment, "コメント" %>
          <%= form.text_area :comment, class: "comment_box" %>
        </div>
        <div class="submit_btn">
          <%= form.submit "この内容で相談する" %>
     </div>
<% end %>

  <div class="contact_form_comment">
    <h3> Oliveをご利用のお客様 </h3>
      <p class=small>
      「@ezweb.ne.jp」「@docomo.ne.jp」「@softbank.ne.jp」などのEメールアドレスをご利用の場合、受信拒否設定等の理由により、弊社からお送りするメールをお届けすることができない可能性があります。
       ドメイン拒否設定を解除していただくか、弊社ドメイン「famarry.com」を受信リストに加えていただきますよう、お願いいたします。
      <br>
       ※設定等の詳細でご不明な点は、各通信事業者様に直接お問い合わせください。
       <br>
       当フォームの受付完了をお知らせする自動返信メールの後、2営業日以内にサポートデスクからの詳しいご返信メールが届かない場合、上記の理由からメールが拒否されている可能性がございます。お手数ですが端末の設定をご確認の上、お問い合わせいただけますようお願い申し上げます。「@ezweb.ne.jp」「@docomo.ne.jp」「@softbank.ne.jp」などのEメールアドレスをご利用の場合、受信拒否設定等の理由により、弊社からお送りするメールをお届けすることができない可能性があります。
       ドメイン拒否設定を解除していただくか、弊社ドメイン「olive.com」を受信リストに加えていただきますよう、お願いいたします。
       <br>
       ※設定等の詳細でご不明な点は、各通信事業者様に直接お問い合わせください。
       </p>
       <p class=small>
       当フォームの受付完了をお知らせする自動返信メールの後、2営業日以内にサポートデスクからの詳しいご返信メールが届かない場合、上記の理由からメールが拒否されている可能性がございます。お手数ですが端末の設定をご確認の上、お問い合わせいただけますようお願い申し上げます。
       </p>
  </div>  
      
    </div>
  </div>
</div>

