<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      世界中どこにいても素敵な思い出を残す
    </h2>
    <p class='service-explain'>
      特別な場所で思い出の一枚を
    </p>
    <p class='service-explain'>
      ***********
    </p>
    <div class='store-btn'>
      <%#= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%#= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      Where do you want to take a photo?
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Hawaii
        </h3>
        <p class='reason-list-description'>
          リゾート気分を堪能しながら
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro02.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          New York
        </h3>
        <p class='reason-list-description'>
          オシャレな1枚を
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Paris
        </h3>
        <p class='reason-list-description'>
          大人な世界で
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Hawaii
        </h3>
        <p class='reason-list-description'>
          リゾート気分を堪能しながら
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro02.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          New York
        </h3>
        <p class='reason-list-description'>
          オシャレな1枚を
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Paris
        </h3>
        <p class='reason-list-description'>
          大人な世界で
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>Report</h2>
    <ul class='item-lists'>
      <li class='list'>
        <%= link_to '' do %>
        <%= image_tag "https://cdn.pixabay.com/photo/2019/11/10/11/13/couple-4615557_1280.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            ハワイ撮影レポート
          </h3>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://media.istockphoto.com/photos/bride-and-groom-walking-together-picture-id588264250", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            ニューヨークの撮影
          </h3>
        <% end %>
      </li><li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://cdn.pixabay.com/photo/2015/03/30/12/35/sunset-698501_1280.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            シンガポールでの撮影
          </h3>
        <% end %>
      </li><li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://cdn.pixabay.com/photo/2020/11/12/13/44/labrador-retriever-5735582_1280.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            パリで撮影レポート
          </h3>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# /商品がない場合のダミー %>
    </ul>
    <%= link_to 'see more report', "#", class: "subtitle" %>
  </div>
  <%# /商品一覧 %>
</div>
<%= render "shared/footer" %>