<%= render "shared/header" %>
<link href="https://cdn.mapfit.com/v2-4/assets/css/mapfit.css" rel="stylesheet" />
<script src="https://cdn.mapfit.com/v2-4/assets/js/tetragon.js"></script>
<script src="https://cdn.mapfit.com/v2-4/assets/js/mapfit.js"></script>
<div class='main'>

<%#見出し%>
<div class='title-contents'>
  <h2 class='service-title'> 世界中どこにいても素敵な思い出を残そう </h2>
    <p class='service-explain'> 特別な場所で思い出の一枚を </p>
</div>
<%#見出し%>

<%# Report %>
<div class='select-reason-contents'>
  <h2 class='title'> Where do you want to take a photo? </h2>
    <ul class='reason-lists'>
      <li class='list'>
      <%= image_tag "sean-o-KMn4VEeEPR8-unsplash.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'> Hawaii </h3>
        <p class='reason-list-description'> リゾート気分を堪能しながら </p>
      </li>
      <li class='list'>
      <%= image_tag "pexels-christian-domingues-670530.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'> New York </h3>
        <p class='reason-list-description'> Coolなウェディングフォト </p>
      </li>
      <li class='list'>
      <%= image_tag "jad-limcaco-NT1mJPgni6A-unsplash.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'> Paris </h3>
        <p class='reason-list-description'> オシャレな大人な世界で </p>
      </li>
      <li class='list'>
      <%= image_tag "aron-van-de-pol-tZDtyUrYrFU-unsplash.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'> U.K </h3>
        <p class='reason-list-description'> 古き良き街並みの中で </p>
      </li>
      <li class='list'>
      <%= image_tag "jake-blucker-8LlJNFLTEm0-unsplash.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'> L.A </h3>
        <p class='reason-list-description'> Hollywoodの世界へ！ </p>
      </li>
      <li class='list'>
      <%= image_tag "pexels-timo-volz-1842332.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'> Singapole </h3>
        <p class='reason-list-description'> 最高の夜景と自然の中で </p>
      </li>
      <li class='list'>
      <%= image_tag "mar-cerdeira-bBF9e2UUh88-unsplash.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'> Tourky </h3>
        <p class='reason-list-description'> 非現実的な歴史ある世界 </p>
      </li>
      <li class='list'>
      <%= image_tag "kseniya-petukhova-SahEnZR5Ni8-unsplash", class:"list-pict" %>
        <h3 class='reason-list-text'> 韓国 </h3>
        <p class='reason-list-description'> 韓国の伝統衣装に触れる </p>
      </li>
    </ul>
</div>
<%# Report %>

  
<%# Country%>
  <div class="title_report"><div class='title'>Report</div></div>
<div class='item-contents'>
  <%# MAP %>
  <div class="map_box">
  <div id='map'>
  <% render "maps/map"%>
  </div>
  </div>
  <%# MAP %>

    <ul class='item-lists'>
      <li class='list'>
      <%= link_to '' do %>
      <%= image_tag "https://cdn.pixabay.com/photo/2019/11/10/11/13/couple-4615557_1280.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'> ハワイ撮影レポート </h3>
      <% end %>
      </li>
      <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "pexels-jose-francisco-fernandez-saura-802024", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'> ニューヨーク撮影レポート </h3>
       <% end %>
      </li>
      <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "https://cdn.pixabay.com/photo/2015/03/30/12/35/sunset-698501_1280.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'> シンガポール撮影レポート </h3>
      <% end %>
      </li>
      <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "pexels-dimitri-kuliuk-1488315.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'> パリ撮影レポート </h3>
      <% end %>
      </li>
    </ul>
</div>
    <div class="more_btn"><%= link_to 'see more report', tweets_path, class: "subtitle" %></div>
<%# Country%>
<%= render "shared/footer" %>